
 <% if current_user %>
 <% if current_user.name  %>
<p class= "text-center"> <a class="btn btn-primary btn-lg btn-block" href="/events" role="button">Link</a> <p>
 
 <% else %>
 <p><h2><%= link_to "Please before continue complete your profile", edit_user_path(current_user)%></h2></p>
  <% end %>
 <% else %>
  <%end%>


 






