
 <% if current_user %>
 <% if current_user.name  %>
 Display buttons
 <% else %>
 <p><h2><%= link_to "Please before continue complete your profile", edit_user_path(current_user)%></h2></p>
  <% end %>
  else
  <%end%>
 






