<h1> <%= @activity.name %></h1> 

<h3> The groups are </h3>
<% activity_events = @activity.events.uniq %>
<% activity_events.each do |event| %>
    <li> <%= link_to event.name, event_path(event)  %>  </li> 
<% end %>


<%= link_to "Back", root_path %>

